<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QLHHVPP" connectionString="Server=.\SQLEXPRESS;Database=QLHH;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp1.Properties.Settings.QLHHVPPConnectionString"
      connectionString="Data Source=(local);Initial Catalog=QLHHVPP;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>