<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLHHVPP" connectionString="Server=.\SQLEXPRESS;Database=QLHH;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp1.Properties.Settings.QLHHVPPConnectionString"
      connectionString="Data Source=(local);Initial Catalog=QLHHVPP;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <WindowsFormsApp1.Properties.Settings>
      <setting name="txtTendangnhap" serializeAs="String">
        <value />
      </setting>
      <setting name="txtMatkhau" serializeAs="String">
        <value />
      </setting>
    </WindowsFormsApp1.Properties.Settings>
  </userSettings>
</configuration>